/*
** HTML elements
*/

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8em;
    font-family: "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}


/*
** HTML Tags
*/

h1, h2, h3, h4
{
    padding: 0;
    text-align: left;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
}
h1 {
    margin: 0 0 0.3em 0;
    font-size: 1.7em;
}
h2, h3, h4 {
    margin: 1.3em 0 0 0.3em
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

a:link {
    padding-bottom: 0;
    text-decoration: none;
    color: #FF8080;
}

a:visited {
    padding-bottom: 0;
    text-decoration: none;
    color: #FF8080;
}


a[href]:hover {
    text-decoration: underline;
}

hr {
    margin: 0.3em 1em 0.3em 1em;
    height: 1px;
    border: #FFFFFF dashed;
    border-width: 0 0 1px 0;
}

pre {
    display: block;
    margin: 0.3em;
    padding: 0.3em;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #000000;
    border: #FFFFFF dashed;
    border-width: 1px;
    overflow: auto;
    line-height: 1.1em;
}

input, textarea, select {
    margin: 0.2em;
    padding: 0.1em;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid;
}

blockquote {
    margin: 0.3em;
    padding-left: 2.5em;
    background-color: #000000;
}

del {
    color: #FFFFFF;
    text-decoration: line-through;
}

dt {
    font-weight: bold;
    font-size: 1.05em;
    color: #FFFFFF;
}

dd {
    margin-left: 1em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.9em;
    text-align: justify;
}
fieldset {
    border: #FFFFFF 1px solid;
}

li {
    text-align: left;
}

fieldset {
    margin-bottom: 1em;
    padding: .5em;
}

form {
    margin: 0;
    padding: 0;
}

hr {
    height: 1px;
    border: #FFFFFF 1px solid;
    background-color: #000000;
    margin: 0.5em 0 0.5em 0 ;
}

img {
    border: 0;
}
table {
    border-collapse: collapse;
    font-size: 1em;
}
th {
    text-align: left;
    padding-right: 1em;
    border: #FFFFFF solid;
    border-width: 0 0 3px 0;
}


/*
** Header
*/
#header {
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
    border-bottom: #bcbcbc 1px solid;
}

#header_top {
    margin: 0 auto;
    padding: 0;
    width: 60em;
    min-width: 770px;
    max-width: 45em;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #000000;
}

#header_top div {
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
}

#header_top div div {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 1.7em;
    font-weight: bold;
    background-color: #000000;
}

#header_top div div img {
    margin:8px 0px 9px 18px;
    vertical-align: middle;
}

#header_bottom {
        margin: 0 auto;
    padding: 0.1em 0em 0.3em 0;
    width: 60em;
    min-width: 770px;
    max-width: 45em;
    vertical-align: middle;
    text-align: right;
    background-color: #000000;
}

#location {
    padding: 0 0 0 1.5em;
    text-align: left;
    line-height: normal;
    font-size: 1.1em;
    font-weight:bold;
    float: left;
}

#location ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

#location ul li {
    display: inline;
    white-space : nowrap;
    margin: 0;
    padding: 0 1em 0 0;
}

#menu {
    margin: 0 1.5em 0 0;
    text-align: right;
    line-height: normal;
    font-size: 1.1em;
    font-weight: bold;
}

#menu ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#menu ul li {
    display: inline;
    white-space : nowrap;
    margin: 0;
    padding: 0 0 0 1em;
    text-align: right;
}

.here a:link, .here a:visited {
    text-decoration:underline;
}

.here ul a:link, .here ul a:visited {
    text-decoration:none;
}

#menu ul li a {
    font-weight: bold;
}


/*
** Content
*/

#content {
    width: 100%;
}

#main {
    /* padding in px not ex because IE messes up 100% width tables otherwise */
    padding: 10px;
    text-align: left;
}

#body_wrapper {
    margin: 0 auto;
    width: 60em;
    min-width: 770px;
    max-width: 45em;
    border: #FFFFFF solid;
    border-width: 0 0 0 1px;
}

#body {
    margin: 0;
    padding: 0;
    width: 60em;
    min-width: 770px;
    max-width: 45em;
}

#right {
    float: right;
    margin: 0;
    padding: 0;
    width: 73%;
}

/* These are date cells on the front page. */
td.cell_date {
    width: 8em;
    min-width: 8em;
}

#hotspot, .sideimage {
    float: right;
    margin: 1ex 1em;
    clear: right;
}

.belowimage, h1, h2, h3, h4, h5 {
    clear: right;
}


/*
** Left Menu
*/

#left {
        float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

.menu_box {
    padding: 0.7em 0 0 0;
}

.menu_box ul {
    text-align: left;
}

.menu_box li {
    list-style-type: none;
    text-align: left;
    margin-left: 0.1em;
}

.menu_box ul ul {
margin: 0;
padding-left: 0;
}

.menu_box li li {
margin-left: 1em;
}

.menu_box .active{
    color: #FFFFFF;
}

.menutitle {
    margin: 0.6em 0 1.2em 0;
    padding:0;
    color: #FFFFFF;
    background-color: #000000;
}
.menutitle div {
    margin: 0;
    padding:0;
    background-color: #000000;
}
.menutitle div h2 {
    margin: 0;
    padding: 0.2em 0 0.3em 1.3em;
    line-height:1.2em;
    font-size: 120%;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #000000;
}
.menutitle div h2 a {
    color: #FFFFFF;
}
.clearer {
    clear: both;
    height: 1px;
}


/*
** Footer
*/
#footer {
        width: 100%;
    background-color: #000000;
}

#footer_text {
    margin: 0 auto;
    padding: 1em 0 1em 3.5em;
    width: 51.5em;
    text-align: left;
    color: #FFFFFF;
    background-color: #000000;
}

#footer a:link, #footer a:visited {
    color: #FF8080;
}

#quicklinks {
font-size: 1em;
padding: 1em;
text-align: center;
margin-top: 0.5em;
margin-left: 0.2em;
margin-bottom: 0.5em;
margin-right: 0.2em;
}

.content .contents {
	text-align: left;
}

/*
** Credits
*/
table.credit tr {
vertical-align:top;
}

table.credit td {
border-bottom: 1px solid #cccccc;
}

table.akademy2006 {
    border-collapse: collapse;
}

table.akademy2006 th {
    padding: 0.4em;
    background-color: #000000;
    border: #FFFFFF 1px solid;
}

table.akademy2006 td {
    padding: 0.4em;
    border: #FFFFFF 1px solid;
}

.welcomelogo {
    text-align: right;
}

img#frontpagelogo {
        float: right;
    margin-left: 0.7em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

img.label {
    float: right;
    margin-left: 0.7em;
}

img.speakerphoto {
    float: right;
    margin-left: 0.7em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

td.track_asia {
    background-color: #000000;
}

td.track_kde4 {
    background-color: #000000;
}

td.track_community {
    background-color: #000000;
}

td.track_crossdesktop {
    background-color: #000000;
}

td.track_programming {
    background-color: #000000;
}

td.track_applications {
    background-color: #000000;
}

td.track_keynote {
    background-color: #000000;
    text-align:center;
}

td.track_kernel {
    background-color: #000000;
    text-align:center;
}

td.track_break {
    text-align:center;
}

td.track_opening {
    text-align:center;
}

td.track_closing {
    text-align:center;
}

img.sponsor_logo {
    float: left;
    margin-right: 1em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

a.sponsor_anchor {
    color: #FFFFFF;
}

div.button {
    color: #FFFFFF;
    background-color: #EEEEEE;
    border-style: solid;
    border-color: #666666;
    border-width: 1px;
    float: left;
    margin: 0.3em;
    padding: 0.3em;
    cursor: pointer;
    cursor: hand;
}

div#gpscoords {
    color: #FFFFFF;
    background-color: #EEEEEE;
    border-style: solid;
    border-color: #666666;
    border-width: 1px;
    margin: 0.3em;
    text-align: center;
    padding: 0.3em;
}

div.sponsor_bar {
  float:right;
  margin-left: 1em;
}

td.bof_odf {
    background-color: #000000;
}

td.bof_hci {
    background-color: #000000;
}

td.bof_qt {
    background-color: #000000;
}

td.bof_marketing {
    background-color: #000000;
}

td.bof_kde {
    background-color: #000000;
}

td.bof_lightningtalks {
    background-color: #000000;
}

td.bof_social {
    background-color: #000000;
}

td.bof_thirdparty {
    background-color: #000000;
}

